<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="room_temperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <room_temperature.Properties.Settings>
      <setting name="LastCom" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MachineName" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>1</value>
      </setting>
    </room_temperature.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
</configuration>